@font-face {
   font-family: 'aelita';
   font-display: swap;
   src: url('file:///C:/Users/%D0%A1%D0%BE%D0%BD%D1%8F%20%D0%9A%D0%B0%D0%B3%D0%B0%D0%BD%D1%8E%D0%BA/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-12-23_160937/fonts/aelita/font.ttf');
}
